

html, body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: block;
	width: 360px;
	height: 360px;
}


.content_text {
	line-height: 360px;
	font-weight:bold;
	font-size:2em;
	color:#fff;
	text-align: center;
	
}
img{
	width: 360px;
	height: 360px;
}