<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/BGchanger" version="1.0.0" viewmodes="maximized">
    <tizen:application id="mvnAMN9pzo.BGchanger" package="mvnAMN9pzo" required_version="3.0"/>
    <author href="http://www.rogervanhout.nl" email="roger@snoeivanhout.nl">Roger van Hout</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>BGchanger</name>
    <tizen:privilege name="http://tizen.org/privilege/setting"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="wearable"/>
</widget>
